apiVersion: v1
kind: Service
metadata:
  name: blogginrose-service
  labels:
    app: blogginrose-service
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30081
      protocol: TCP
  selector:
    app: blogginrose-service
